# Access Transformer for DGLab-Craft
# Allow access to RenderGameOverlayEvent

public net.minecraftforge.client.event.RenderGameOverlayEvent
public net.minecraftforge.client.event.RenderGameOverlayEvent$Pre
public net.minecraftforge.client.event.RenderGameOverlayEvent$Post
public net.minecraftforge.client.event.RenderGameOverlayEvent$ElementType
